 html{
     margin: 0%;
     padding: 0%
    }
section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section1 {
    background-image: url('../images/section1.jpeg');
}
#Welcome{
    text-align: center;
    position: relative;
    right: 400px;
    top: 50px;
    margin: 0%;
    padding: 0%;
    
    
}
#Aravind{
    color: brown;
    text-align: center;
    font-size: 50px;
    position: relative;
    right: 400px;
    top: 50px;
    margin: 0%;
    padding:0%;
}
#gif{
    height: 200px;
    width: 300px;
    position: relative;
    left: 200px;
    top: 260px;
}
.container{
    max-width: 1200px;
    margin: 0%;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 100px;
    justify-content: center;
    position: relative;
    left: 130px;
    top: 150px;
}
 .product{
     text-align: center;
    width: 300px;
    background: #fff;
    border: 2px solid #160303;
    border-radius: 20px;
    padding: 0%;
    text-align: center;
   
 }
.product img{
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.product h4{
    margin:20px 0 8p0x;

}
.price{
    color: #008000;
    font-weight: bold;
}